*{
    margin:0;
    padding: 0;
    background-color: rgb(186, 186, 247);
    text-align: right;
}

form{
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 50%;
    height: 50%;
}